$orange: orange;
$lt: white;
$ribbon-color: #ded8bd;
$ribbon-color2: #b5ad8d;
$brown: #625b49;
$skills-ywl: #e0d371;
$skills-yw:#eaddaa;
$lt-blue: #a9cbd7;
$blue: #59a2d0;
$topaz: #edc769;
$dirty-yw: #e0c37a;
$red: #dc7255;
$nes-red: #9e5049;
$drk-green: #404d41;
$grey: #8c938e;

body {
	background: lighten($skills-ywl, 25%);
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.width-margin {
	width:100%;
	margin: 0 auto;
}

.shadow {
	-webkit-box-shadow: 0px 6px 33px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 33px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 33px -11px rgba(0,0,0,0.75);
}

@import 'partial/animation';
@import 'partial/writing';
@import 'partial/layout';
@import 'partial/buttons';
@import 'partial/nav';
@import 'partial/grid';
@import 'partial/media-query';