.flexible {
	display: flex;
}

.about-container {
	@extend .flexible;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.about-copy{
	order: 1;
	margin: 0 auto;
}


img.about-image {
	width: 40%;
	order: -2;
}

p#text-under-shirt {

}

.portfolio-container {
    @extend .flexible;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.portfolio-icon {
    width: 450px;
	opacity: 0.75;

}

#icon-bundle {
    @extend .flexible;
    overflow: hidden;
	flex-flow: row wrap;
	align-items: flex-start;

	margin: 0;
}

#icon-bundle.dropdown {
	width: 100%;
	height: 240px;
	margin-bottom: 22px;
	@extend .shadow
}
#skills-container {
    @extend .flexible;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

ul.skills-list {
	order: -1;
	padding: 0;
	margin:0 auto;

}

.skills-image {
	width: 50%;
	margin: 20px 0;
	height: auto;
}

.splash-img img {
	position: absolute;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	z-index: -1000;
}

.img-linked {
	overflow: hidden;
	position: relative;
	z-index: -100;
	transition-duration: 500ms;
	transition-timing-function: ease-out	
}

.icon-bundle:hover + .img-linked{
	opacity: 0.2;
	transform: scale(1.2);
	-webkit-box-shadow: 0px 10px 21px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 21px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 21px -8px rgba(0,0,0,0.75);
}

.icon-bundle:hover + .icon-bundle.dropdown{
	border-width: 0px;
}
.portfolio-description{
	width: 40%;
	-webkit-box-shadow: 0px 13px 51px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 51px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 51px -5px rgba(0,0,0,0.75);
	background: lighten(#948857, 12.5%);
	position: absolute;
	color: white;
	transition: 1s;
	opacity: 0.8;
}


.img-linked img {
	transition-duration: 1s;
	transition-timing-function: ease-out
}

.img-text {
	position: relative;
}

.materialboxed {
	margin: 0 auto;
	padding-top: 40px;
}