.flexible {
	display: flex;
}

.about-container {
    @extend .flexible;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.about-container p{
	width: 40%;

}

.shirt-image {
	width: 40%;
}
.portfolio-container {
    @extend .flexible;
    flex-flow: column wrap;

}

.portfolio-description  {
	width: 50%;
}

#icon-bundle {
    @extend .flexible;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	margin: 0;
}

#skills-container {
    @extend .flexible;
	 flex-flow: column wrap;
	 justify-content: center;
	 align-items: center;
}

ul.skills-list {
	order: -1;
	margin:0 auto;

}

.skills-image {
	width: 50%;
	margin: 20px 0;
	height: auto;
}


.splash-img img {
	position: absolute;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	z-index: -1000;
}
