.flexible {
	display: flex;
}

.portfolio-container {
    @extend .flexible;
    flex-flow: column wrap;

}

.portfolio-description  {
	width: 50%;
}

#icon-bundle {
    @extend .flexible;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	margin: 0;
}

#skills-container {
    @extend .flexible;
	 flex-flow: row wrap;
	 justify-content: center;
	 align-items: center;
}

ul.skills-list {
	order: -1;
	margin:0 auto;

}

.skills-image {
	width: 50%;
	margin: 20px 0;
	height: auto;
}

.contact-container {
	@extend .flexible;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	margin: 10% 10%;
}

.contact-image {
	width: 50%;
}
