section {
	padding-top: 40px;

}

#about {
	margin: 0;
	padding: 0;
}

.ui-widget-header {
	background: lighten($ribbon-color, 10%);
	color: white;
}

.certificate-img {
	width: 100%;
}

#skills {
	background: $skills-ywl;
	padding: 170px 0;
	@extend .shadow
}

.skills--laptop-image {
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;	
	max-width: 100%;
}

section#portfolio {
	margin: 20% 0;
}

.splash-img {
	max-width: 100%;

}

.splash-img img {
	position: absolute;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	z-index: -1000;
}

.main-header {
	width: 100%;
	height: 50vh;
	position: relative;
	top: 30vh;
	@extend .flexible;
  	display: flex;
  	flex-flow: column wrap;
  	align-items: center;
  	justify-content: center;
}

img.logo-image.animate-logo {
	width: 100%;
	max-width: 640px;
}

#contact {

}

.contact-image {
	width: 50%;
}

.footer-image {
	position: absolute;
	overflow: hidden;
	z-index: -100;
}
.footer-image {
-webkit-box-shadow: 0px -2px 33px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 33px -11px rgba(0,0,0,0.75);
box-shadow: 0px -2px 33px -11px rgba(0,0,0,0.75);
}

button a {
	color: white;
	font-size: 1.4em;
}

footer {
	padding-bottom: 50px;
  	text-align: center;
  	background: darken($drk-green, 12%);
    margin: 80% auto 0;
}

footer p {
	padding-top: 20px;
}







html, body {
  width: 100%;
  height: 100%;
}

.bg-img {
  width: 100%;
  height: 100%;
  background: url('http://alexcarpenter.me/img/banner.jpg') center center no-repeat;
  background-size: cover;
  
  &:before {
    content: '';
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .6; 
  }
}