body {
	min-width: 100%;
	background: $ribbon-color;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	max-width: 960px;
	margin: 0 auto;

}

section {
	min-width: 100%;
	height: auto;
}

#about {
	margin-top: 75%;

}

#portfolio {

	background: $ribbon-color;
}

#skills {
	background: $reddish;
}


#contact {
	background: $lt-blue;
}



.logo {

}

.splash-img {
	top: -6vh;
	max-width: 100%;
	position: relative;
}
.splash-img img {
	position: absolute;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: auto;
	z-index: -1000;
}

.logo img{
	top: 50vh;
	position: relative;
	width: 100%;
	max-width: 640px;
	display: block;
	margin: 0 auto;
	z-index: -100;
}