@media only screen and (max-width: 320px) {
	#menu h2 {
	    left: 50px;
	}
	.brand h1 {
	    font-size: 1.1em;
	    padding: 10px 10px;
	}
	img.logo-image.animate-logo {
		margin-top: -70px;
	}
	button {
		margin: 0 auto;
		margin-top: 70px;
	}
	#portfolio{
		margin-top: 10%;
	}

	.splash-img img {
		top: 50px;
	}

	.logo img{
		width: 100%;
		max-width: 260px;
	}

	#icon-bundle.dropdown {
		width: 100%;
	}

	.about-container p{
		width: 100%;
	}

	.about-copy{
		width: 300px;
		order: 2;
    	position: absolute;
	}
	.about-copy p, .about-copy h1 {
		color: white;
		line-height: 1.6em;
	}
	#about p {
		font-size: 1.3em;
	}
	img.about-image {
		width: 100%;
		order: 1;
	}
	.shirt-image {
		width: 80%;
	}	

	.portfolio-description  {
		width: 100%;
		top: -20px;
	}
	
	ul.contact-list {
		margin-top: 20vh;
		text-align: right;
	}

	.nav {
		height: 10vh;
	}

	.nav-list {
		height: 100vh;
		width: 100px;
	}

	#menu {
	   	left: -160px; /* must be the same as the width of the menu */
	    -webkit-transition: left 1s;
	    transition: left 1s;
	}

	#menu  .toggle {
	    left: 0px;
	    padding:10px;
	}

	.footer-image {
		width: 100vw;
	}
}

@media only screen and(min-width: 321px) and (max-width: 767px) {
	#menu h2 {
	    left: 50px;
	}
	.brand h1 {
	    font-size: 1.1em;
	    padding: 10px 10px;
	}
	img.logo-image.animate-logo {
		margin-top: -100px;
	}	
	#portfolio{
			margin-top: 30%;
	}

	.splash-img img {
		top: 50px;
		min-width: 100%;
	}

	.logo img{
		width: 100%;
		max-width: 300px;
	}

	.about-container p{
		width: 100%;
	}
	.about-copy{
		width: 300px;
		order: 2;
    	position: absolute;
	}
	.about-copy p, .about-copy h1 {
		color: white;
		line-height: 1.6em;
	}
	#about p {
		font-size: 1.2em;
	}
	img.about-image {
		width: 100%;
		order: 1;
	}
	.shirt-image {
		width: 80%;
	}	

	.portfolio-description  {
		width: 100%;
	}

	#icon-bundle {
		width: 42%;
		height: 40%;
	}
	.portfolio-icon {
		width: 100vw;
	}
	#icon-bundle.dropdown {
		display: block;
		width: calc(100% - 15px);
		margin: 0 auto;
		height: 200px;
		margin-bottom: 22px;
	}	

	ul.contact-list {
		margin-top: 20vh;
		text-align: right;
	}

	.nav-list {
		height: 100vh;
		width: 100px;
	}

	#menu {
	   	left: -160px; /* must be the same as the width of the menu */
	    -webkit-transition: left 1s;
	    transition: left 1s;
	}

	#menu  .toggle {
	    padding:10px;
	}

	.footer-image {
		width: 100vw;
	}	
}
	
@media only screen and (min-width : 768px) and (max-width : 1023px) {

	img.logo-image.animate-logo {
		margin-top: -100px;
	}
	#portfolio{
	}
	button {
		margin-top: 90px;
	}
	.splash-img img {
		top: 50px;
	}

	.logo img{
		width: 100%;
		max-width: 460px;
	}

	.footer-image {
		width: 100vw;
	}
	#contact {
		margin: 10% auto 0;
	}

	footer {
    margin: 20% auto 0;
	}
	#icon-bundle {
		width: 48%;
		height: 320px;
	}
	.portfolio-icon {
		width: 50vw;
	}
	.portfolio-description  {
		width: 100%;
	}
	#icon-bundle.dropdown {
		width: calc(50% - 15px);
		height: 240px;
		margin-bottom: 22px;
	}	
}

@media only screen and (min-width : 1024px) and (max-width : 1439px) {

	#portfolio{
		margin-top: 10%;
	}
	.footer-background {
		width: 100%;
	}

	.splash-img img {
		top: 50px;
	}

	.logo img{
		width: 100%;
		max-width: 520px;
	}
	.about-copy{
	    width: 45%;
	    padding-left: 60px;
	}


	#contact {
		margin: 10% auto 0;
	}

	footer {
    margin: 7% auto 0;
	}

	#icon-bundle {
		width: 48%;
		height: 320px;
	}
	.portfolio-icon {
		width: 50vw;
	}
	.portfolio-description  {
		width: 100%;
	}
	#icon-bundle.dropdown {
		width: calc(50% - 15px);
		height: 240px;
		margin-bottom: 22px;
	}	

	#icon-bundle {
		width: 50%;
		height: 460px;
	}

	.portfolio-description  {
		width: 100%;
	}
	.portfolio-icon {
		width: 50vw;
	}
	#icon-bundle.dropdown {
		width: calc(50% - 15px);
		height: 240px;
		margin-bottom: 22px;
	}
}

@media only screen and (min-width : 1440px) {
	#portfolio{
		margin-top: 24%;
	}
	.about-copy{
	    width: 40%;
	    padding-left: 100px;
	}

	.footer-background {
		width: 1024px;
	}

	#contact {
		margin: 10% auto 0;
	}

	footer {
    margin: 7% auto 0;
    height: 100px;
	}
	.portfolio-description {
		width: 100%;
		padding: 10px 0;
		position: relative;
	}
	.portfolio-icon {
		width: 50vw;
	}
	#icon-bundle.dropdown {
		width: calc(50% - 15px);
		height: 240px;
		margin-bottom: 19px;
	}
	.dropdown:hover .dropdown-content  {
	    display: block;
	    bottom: 0px;
	    opacity: 1;
	    transform: scale(1);
	}

}