@media only screen and (max-width: 460px) {
	.logo img{
		top: 30vh;
		position: relative;
		width: 100%;
		max-width: 360px;
		display: block;
		margin: 0 auto;
		z-index: -100;
	}
}


@media only screen and(max-width: 461px) and (max-width: 640px) {
	.container {
		max-width: 100%;
		margin: 0 10px;
	} 

	#about {
		margin-top: 90%;
	}

	.splash-img {
	    width: 100%;
	    margin: 0 auto;
	    overflow:hidden;
	   position: absolute;
	    height: 800px;
	}

	.splash-img img {
		position: absolute;
		width: 130%;
		top: 70px;
		left: -20px;
		display: block;
		margin: 0 auto;
		height: auto;
		z-index: -1000;
		overflow:hidden;
	}

	.logo img{
		top: 30vh;
		position: relative;
		width: 100%;
		max-width: 360px;
		display: block;
		margin: 0 auto;
		z-index: -100;
	}

	.nav-list {
		position: fixed;
		height: 100vh;
		width: 150px;
	    background: lighten($drk-green, 10%);

	}
	#menu {
	    display: block;
	    width: 100px;
	    min-height: 100%;
	    top: 0;
	    z-index: 9999;
	    position:fixed;
	}

	#menu  .toggle {
	    top: 0;
	    left: 190px;
	    padding:10px;
	    position: absolute;
	}
		/* Pushing the Menu off the canves */
	#menu {
	    left: -190px; /* must be the same as the width of the menu */
	    -webkit-transition: left 1s;
	    transition: left 1s;
	}
	/* Showing the menu then the Checkbox is checked */

	#toggle:checked + #menu {
	    left: 0;
	    -webkit-transition: left 1s; /* Safari 3.1 to 6.0 */
	    transition: left 1s;
	}
	.nav-colored {
    animation: color_change 1s ease-out;
    background: $drk-green;

}

@keyframes color_change {
    from { 
        background: lighten($drk-green, 40%);
        }
    to { 
        background: $drk-green; 
    }
}
}

@media only screen and (min-width : 641px) and (max-width : 820px) {
	.container {
		max-width: 100%;
		margin: 0 20px;
	} 
	#about {
		margin-top: 55%;
	}
	div.splash-img {
		
		position: relative;
	}
	.splash-img img {
		position: absolute;
		
		top: 50px;
		display: block;
		margin: 0 auto;
		height: auto;
		z-index: -1000;
		overflow:hidden;
	}

	.logo img{
		top: 40vh;
		position: relative;
		width: 100%;
		max-width: 460px;
		display: block;
		margin: 0 auto;
		z-index: -100;
	}

}

@media only screen and (min-width : 821px) and (max-width : 1024px) {
	.container {
		max-width: 100%;
		margin: 0 20px;
	} 	
	#about {
		margin-top: 66%;
	}
	div.splash-img {
		
		position: relative;
	}
	.splash-img img {
		position: absolute;
		
		top: 50px;
		display: block;
		margin: 0 auto;
		height: auto;
		z-index: -1000;
		overflow:hidden;
	}

	.logo img{
		top: 60vh;
		position: relative;
		width: 100%;
		max-width: 520px;
		display: block;
		margin: 0 auto;
		z-index: -100;
	}	
}

@media only screen and (min-width : 1025px) and (max-width : 1224px) {

	#about {
		margin-top: 70%;
	}
	div.splash-img {
		
		position: relative;
	}
	.splash-img img {
		position: absolute;
		
		top: 50px;
		display: block;
		margin: 0 auto;
		height: auto;
		z-index: -1000;
		overflow:hidden;
	}

	.logo img{
		top: 50vh;
		position: relative;
		width: 100%;
		max-width: 600px;
		display: block;
		margin: 0 auto;
		z-index: -100;
	}	
}