.sticky {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.nav {
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: darken($drk-green, 12%);
    z-index: 1000;
}

.nav-list {
    margin-top: -40px;
	height: 100vh;
	width: 160px;
    background: lighten($drk-green, 10%);
}

nav ul {
    padding-top: 80px;
}

ul.nav-list li a{
    color: white;
    font-size: 1.5em;
    padding: 24px;
    display: block;
    width: 100px;
    height: 48px;
    float: right;
    text-align: right;
}

ul.nav-list li a {
    letter-spacing: 0;
}

ul.nav-list li a:hover,
ul.nav-list li a:active {
    letter-spacing: 3px;
    transition: all 280ms ease-in-out;
}

ul.nav-list li a:after,
ul.nav-list li a:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

ul.nav-list li a:hover:after,
ul.nav-list li a:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
}

ul.nav-list li a:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}
.nav-colored {
    animation: color_change 1s ease-out;
    background: $drk-green;
}

@keyframes color_change {
    from { 
        background: lighten($drk-green, 40%);
        }
    to { 
        background: $drk-green; 
    }
}

#menu {
    display: block;
    width: 200px;
    min-height: 100%;
    top: 0;
    z-index: 9999;
    position: fixed;
}

#menu  .toggle {
    top: 0;
    left: 0px;
    padding:10px;
    padding-left: 14px;
    position: fixed;
}

img.menu-open, img.menu-close {
    width: 34px;
    height: 40px;
}

.toggle img {
    position: absolute;
}

#toggle{
    display: none;
}

/* Pushing the Menu off the canves */
#menu {
    left: -200px; /* must be the same as the width of the menu */
    -webkit-transition: left 1s;
    transition: left 1s;
}
/* Showing the menu then the Checkbox is checked */

#toggle:checked + #menu {
    left: 0;
    -webkit-transition: left 1s; /* Safari 3.1 to 6.0 */
    transition: left 1s;
}

.menu-close {
    -webkit-transition: all 1.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition:         all 1.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);

}

