body {
	font: 16px/1.6em 'Roboto', sans-sarif;
}
h1, h2 {
	font-family: 'Playfair Display', serif;
}
section h1{
	color: $brown;

}

 p.menu-label {
	font-size: 1.6em;
	margin: 0;
    padding-left: 40px;
	color: lighten($ribbon-color, 10%);
}

p {
	color: $brown;
	line-height: 1.5em;
}

em{
    font-weight: 800;
    font-size: 1.3em;
    line-height: 1.5em;
    color: $brown;
}

.brand h1 {
	font-size: 1.3em;
	font-weight: 300;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
  float: right;
  padding-right: 40px;
  color: lighten($ribbon-color, 10%);
}

a {
	color: white;
	text-decoration: none;
}

.nav-list li, .contact-list li {
	list-style-type: none;
}

.portfolio-heading {
	padding-bottom: 25px;
}

.skills-heading {
	padding-bottom: 30px;
}

.contact-heading {
	color: lighten($skills-yw, 10%);;
}

h3, p, li {
	color: $drk-green;
}

ul.contact-list {
	float: right;
}

ul.contact-list li  {
	padding: 20px;
}

ul.contact-list li a {
	font-size: 2em;
	color: white;
}

#about p {
	margin: 0 20px;
}


.center, .heading {
	text-align: center;
}

.main-article {
	padding: 20px;
}

#icon-bundle {
	padding-bottom: 60px;
}

.demo-link {
	color: lighten($ribbon-color, 30%);
}

.portfolio-meta p {
	font-size: 0.8em;
	color: lighten($drk-green, 15%);
}

ul.skills-list li {
	padding: 0px;
	list-style: none;
	text-align: center;
	font-size: 1.2em;
}

footer {
	width: 100vw;
	height: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: $drk-green;
	bottom: 0;
}

footer	p {
  	color: lighten($ribbon-color, 10%);
}
