body {
	font: 16px/1.6em 'Roboto', sans-sarif;
}

h1{
	top: 40%;
	padding: 4px;
	color: $nes-red;
}


.brand h3 {
  float: right;
  padding-right: 40px;
  color: lighten($ribbon-color, 10%);
}

a {
	text-decoration: none;
}


.nav-list li, .contact-list li {
	list-style-type: none;
}

#portfolio h1 {
	padding-bottom: 25px;
}

#skills h1 {
	padding-bottom: 30px;
}

p, li {
	color: $drk-green;
}
ul.contact-list {
	float: right;
}
ul.contact-list li  {
	padding: 20px;
}

ul.contact-list li a {
	font-size: 2em;
	color: white;
}

#about p {
	padding: 20px;
}


.center, .heading {
	text-align: center;
}
.main-article {
	background: pink;
	padding: 20px;
}

.portfolio-description p {		
	aligh-text: center;
}

ul.skills-list li {
	padding: 5px;
}

footer {
	width: 100vw;
	height: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: $drk-green;
	bottom: 0;
}

footer	p {
  color: lighten($ribbon-color, 10%);
}
